<div class = container>
  <%= simple_form_for @post do |f| %>
    <%= f.input :category, collection: $CATEGORIES,%>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :brand %>
    <%= f.input :price %>
    <%= f.input :url, input_html: { required: true } %>
    <%= f.input :photo, as: :file, input_html: { required: true } %>
    <%= f.submit "Submit", class: "btn btn-dark btn-delete text-white justify-content-center rounded" %>
  <% end %>
</div>
