<div class = container>
  <%= simple_form_for @post do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :url %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Submit", class: "btn btn-dark btn-delete text-white justify-content-center rounded" %>
  <% end %>
</div>
