<div class = container>
  <%= simple_form_for @post do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :url, input_html: { required: true } %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, required: true %>
    <%= f.submit "Submit", class: "btn btn-dark btn-delete text-white justify-content-center rounded" %>
  <% end %>
</div>
