<div class = "container">
  <%= link_to "<< Back", posts_path, class:"btn btn-dark rounded"%>
  <div class="card-trip mt-3">
    <%= cl_image_tag @post.photo.key, height: 300, width: 600, crop: :fill %>
    <div class="card-trip-infos">
      <div>
        <h1><%=@post.title%></h1>
        <div class = "content"><h5><%= @post.content%></h5></div>
        <%= link_to "More infos", @post.url, target: :_blank, class:"btn btn-dark btn-delete text-white justify-content-center rounded"%>
      </div>
    </div>

    <div class="card-trip-buttons">
      <% if (@post.user == current_user)%>
        <%= link_to "Edit", edit_post_path(@post), class:"btn btn-dark btn-delete text-white justify-content-center rounded"%>
        <%= link_to "Delete", post_path(@post), class:"btn btn-dark btn-delete text-white justify-content-center rounded", method: :DELETE, data: { confirm: "Are you sure ?"}%>
      <% end %>
    </div>
  </div>

  <div class="form-container">
    <div class="form-wrapper mt-3 mb-3 w-100">
      <%= simple_form_for [@post, @comment] do |f| %>
        <%= f.input :content, as: :string, required: true, placeholder: Faker::Name.name, label: 'Enter your name here' %>
        <%= f.input :content, as: :text, required: true, placeholder: Faker::Quote.famous_last_words, label: 'Enter your comments here' %>
        <%= f.button :submit, "Comment", class: "w-100 btn-flat text-white mx-auto d-flex justify-content-center" %>
      <% end %>
    </div>
  </div>

  <div class="card-trip">
    <% if @comments.nil? %>
      <h2 class= "p-3"> No comments yet &#128546; </h2>
    <% else %>
      <% @comments.each do |comment| %>
        <%= render 'comments_card', comment: comment %>
      <% end %>
    <% end %>
  </div>
</div>
